body {
    background-color: #eceFF0;
}

body, input {
    font-family: 'Open Sans', sans-serif;
    color: #363639;
}

.list-items, .done, .form {
    margin: 10px auto;
    background-color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 3px 3px lightgray;
    max-width: 750px;
}


.list-items-wrap, .done-wrap{
    max-width: 600px;
    margin: 0px auto;
}

/*ICONS*/

a .fa-check {
    color: green;
    opacity: 0.6;
    //margin: 0 10px;
    font-size: 1.2em;
}

a .fa-check:hover {
    opacity: 1;
}

a .fa-times {
    color: indianred;
    opacity: 0.6;
    font-size: 1.2em;
}

a .fa-times:hover {
    opacity: 1;
}

a .fa-pencil {
    color: #cc9806;
    opacity: 0.6;
}

a .fa-pencil:hover {
    opacity: 1;
}

.list-items a .fa, .done a .fa {
   float: right;
   margin: 0 15px;
   font-size: 1.2em;
}

a .fa-arrow-down, a .fa-arrow-up {
    color: #01665f;
    opacity: 0.6;
}

a .fa-arrow-down:hover, a .fa-arrow-up:hover {
    opacity: 1;
}

.clear {
    clear: both;
}

/*TEXT*/

.done p {
    text-align: center;
    font-weight: 700;
}


h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.3em;
    margin-top: 0px; 
    text-align: center;
}

/* List items*/

ul li {
    padding: 0;
    list-style-type: circle;
}

ul {
    padding-bottom: 10px;
    margin-bottom: 0px;
}


/*FORMS*/

.form-wrap {
    max-width: 650px;
    margin: 0 auto;
}

.form-wrap form {
    max-width: 650px;
    text-align: center;
}

input[type=text]{
    border: 0;
    border: 1px dashed #b3b3b7;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 2px;
    background-color: #f2f2f2;
}

.form-wrap input[type=text]{
    width: 30%;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}

input[type=text]:focus{
    outline: none;
}

.form-wrap input[type=submit]{
    width: 20%;
    margin-top: 10px;
    display: inline-block;
}

.form-wrap p {
    color: indianred;
    text-align: center;
    font-weight: 700;
}

input[type=submit]{
    background-color: #FFF;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 3px;
}

.list-items input[type=submit]{
    width: 19%;
}

input[type=submit]:focus{
    outline: 0;
    background-color: #eceFF0;
}



.list-items input[type=text]{
    width: 50%;
    display: inline;
    margin: 7px 10px 0px -17px;
}


.list-items p.success {
    color: darkgreen;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}

h3 {
    color: gray;
    font-size: 1em;
    margin-left: 9px;
    font-weight: 400;
    text-align: center;
}

.list-items .priority-order{
    color: #01665f;
    font-size: 0.8em;
}

.border{
   border-bottom: 2px solid #eceFF0;
   margin-top: 15px;
}